<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>com.sor.restapi.UserApplication</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/u/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EventReportServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>com.sor.restapi.EventReportApplication</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>EventReportServlet</servlet-name>
		<url-pattern>/r/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>com.sor.restapi.FileUploadApplication</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/f/*</url-pattern>
	</servlet-mapping>
	
</web-app>
